:root {
  --black: black;
  --white: white;
  --light-blue: #bed5e0;
  --light: #f3f3f3;
  --blue: #384a5e;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

body {
  color: #333;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  line-height: 130%;
}

.a-letter {
  z-index: 1;
  object-fit: cover;
  height: 60%;
  margin-top: 400px;
  padding-left: 1400px;
  position: absolute;
  overflow: visible;
}

.icon-hero {
  height: 50px;
}

.icon-hero._3 {
  height: 40px;
}

.icon-hero.top100 {
  height: 60px;
  margin-left: 1px;
}

.icon-hero.wedding {
  height: 40px;
  margin-top: 6px;
}

.z-letter {
  z-index: 1;
  object-fit: cover;
  height: 50%;
  margin-bottom: 850px;
  margin-right: 1150px;
  position: absolute;
  overflow: visible;
}

.achieve-card {
  cursor: pointer;
  background-color: #f3f3f3;
  border-radius: 15px;
  transition: all .325s;
  box-shadow: 0 12px 35px rgba(0, 0, 0, .2);
}

.text-span-2 {
  font-size: 16px;
  font-weight: 400;
}

.paragraph-5 {
  font-size: 12px;
}

.paragraph-6 {
  font-size: 20px;
  line-height: 130%;
}

.get-button {
  z-index: 5;
  background-color: var(--black);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.cell-6 {
  justify-content: center;
  align-items: center;
  display: block;
}

.section-2 {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.quick-stack-5 {
  grid-column-gap: 151px;
}

.text-block-2 {
  z-index: 5;
  color: var(--white);
  text-align: center;
  font-size: 20px;
  line-height: 130%;
  position: relative;
}

.hover-color {
  background-color: #7530ff;
  border-radius: 100%;
  height: 0%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.heading-wrapper {
  z-index: 2;
  flex-flow: column;
  align-items: center;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 4%;
  left: 0%;
  right: 0%;
}

.image-wrapper-2 {
  z-index: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
}

._3-corporate-2 {
  object-fit: cover;
  height: 100%;
  display: block;
  position: absolute;
  top: 7%;
}

._5-personal-2 {
  object-fit: cover;
  height: 100%;
  display: block;
  position: absolute;
  top: 4%;
}

.gradient-wrapper {
  height: 0;
}

._1-home-2 {
  object-fit: cover;
  height: 100%;
  margin-left: 16px;
  display: block;
  position: absolute;
  top: 0%;
}

.icon-bg-2 {
  color: #374a5f;
  cursor: pointer;
  background-color: #f3f3f3;
  border-radius: 50%;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: 12px;
  transition: all .3s;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .2);
}

.icon-bg-2:hover {
  transform: scale(1.1);
}

.icon-bg-2.big {
  color: #374a5f;
  background-color: #f3f3f3;
  width: 115px;
  height: 115px;
  position: relative;
  overflow: hidden;
}

._4-online-2 {
  object-fit: cover;
  height: 100%;
  margin-right: 20px;
  display: block;
  position: absolute;
  top: 5%;
}

.hero-2 {
  background-color: #f3f3f3;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

.wrapper-animation {
  z-index: 5;
  cursor: pointer;
  padding: 80px;
  position: absolute;
}

.mask-heading-2 {
  z-index: 1;
  width: 900px;
  padding-bottom: 10px;
  position: static;
  top: 70%;
  bottom: auto;
  left: 15%;
  right: auto;
  overflow: hidden;
}

.mask-heading-2.up {
  margin-right: 100px;
}

.mask-heading-2.down {
  margin-left: 100px;
}

._2-moder-2 {
  object-fit: cover;
  height: 100%;
  display: block;
  position: absolute;
  top: 4%;
}

.icon-wrapper-2 {
  z-index: 1;
  text-align: center;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  max-width: 220px;
  height: 200px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 15%;
}

.icon-wrapper-2.top100 {
  top: 0%;
  bottom: auto;
  left: 13%;
  right: auto;
}

.icon-wrapper-2.mic {
  top: 47%;
  bottom: auto;
  left: 2%;
  right: auto;
}

.icon-wrapper-2.wedding {
  height: 250px;
  top: 47%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.text-hero {
  color: #192229;
  margin-bottom: 30px;
  font-size: 19px;
  line-height: 120%;
}

.text-hero._2 {
  margin-bottom: 7px;
}

.hero-heading-2 {
  color: var(--white);
  text-align: left;
  text-transform: uppercase;
  text-shadow: 1px -2px 18px rgba(0, 0, 0, .25);
  flex-flow: column;
  margin-top: 10px;
  padding-left: 1.5%;
  font-size: 80px;
  display: block;
}

.hero-heading-2.buttom {
  text-align: right;
  padding-right: 1.5%;
  line-height: 110%;
  position: static;
  top: auto;
  bottom: 10%;
  left: 2%;
  right: auto;
}

.icons-wrapper {
  max-width: 1140px;
  height: 55%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: auto;
  bottom: 25%;
  left: 0%;
  right: 0%;
}

.fill-icon {
  color: #f3f3f3;
  background-image: linear-gradient(225deg, #356796, #174764);
  border-radius: 100%;
  height: 0%;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.line-menu {
  opacity: .2;
  background-color: #f3f3f3;
  width: 2px;
  height: 20px;
  margin-right: 20px;
  display: block;
  position: relative;
}

.logo-icon {
  height: 22px;
  position: relative;
}

.logo-icon-menu {
  color: var(--black);
  height: 26px;
  font-size: 15px;
  position: relative;
}

.navbar {
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: auto;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.navbar._2 {
  margin-top: 64px;
}

.menu-link {
  opacity: 1;
  color: var(--light-blue);
  text-transform: uppercase;
  cursor: pointer;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 14px;
  font-weight: 500;
  transition: all .3s;
}

.menu-link:hover {
  opacity: 1;
  color: #f0f0f0;
}

.menu-link.w--current {
  opacity: 1;
  color: var(--light-blue);
  padding-top: 14px;
  padding-bottom: 14px;
  display: block;
}

.menu-link.w--current:hover {
  color: var(--light);
}

.menu-button {
  position: absolute;
  top: 8%;
  bottom: auto;
  left: auto;
  right: 2%;
}

.brand-menu {
  color: #f3f3f3;
  margin-right: 40px;
}

.brand-menu.w--current {
  color: #dbdbdb;
  margin-right: 25px;
  transition: all .25s;
  display: block;
  position: relative;
}

.brand-menu.w--current:hover {
  opacity: 1;
  color: #fff;
}

.brand-menu._2.w--current {
  margin-right: 205px;
}

.nav-menu {
  color: #fff;
  background-color: #25333f;
  background-image: linear-gradient(98deg, #25333f, #203958 51%, #335b7e);
  border-radius: 35px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  padding: 6px 40px 6px 30px;
  display: flex;
  position: static;
  top: -20px;
}

.brand {
  display: none;
}

.brand.w--current {
  color: #dbdbdb;
  margin-left: 30px;
  margin-right: 40px;
  transition: all .25s;
  display: block;
  position: relative;
}

.brand.w--current:hover {
  opacity: 1;
  color: #fff;
}

.link-wrapper {
  border-radius: 25px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 34px;
  transition: all .25s;
  display: flex;
  overflow: hidden;
}

.link-wrapper:hover {
  background-color: rgba(0, 0, 0, .21);
}

.link-animation {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  display: flex;
}

.div-block-22 {
  cursor: pointer;
  border-radius: 50px 0 0 50px;
  justify-content: flex-start;
  align-items: center;
  width: 15%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 0;
  transition: all .6s;
  display: flex;
  overflow: hidden;
}

.div-block-22:hover {
  width: 97%;
}

.text-block-3 {
  letter-spacing: 1px;
  text-transform: none;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.div-block-23 {
  flex: 1;
  margin-left: 30px;
}

.div-block-24 {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.section-3 {
  height: 100vh;
}

.paragraph-7 {
  margin-top: 50px;
}

.heading {
  margin-top: 108px;
}

.div-block-25 {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  display: block;
}

.highlight {
  z-index: 3;
  opacity: .05;
  filter: none;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: -15%;
  bottom: -15%;
  left: -15%;
  right: -15%;
}

.light-mask {
  z-index: 4;
  border-radius: 50%;
  width: 105px;
  height: 105px;
  position: absolute;
  overflow: hidden;
}

.form-block {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.text-field, .text-field-2 {
  border-radius: 50px;
}

.form {
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.submit-button {
  background-color: var(--blue);
  cursor: pointer;
  border-radius: 50px;
  padding-left: 40px;
  padding-right: 40px;
  transition: background-color .25s;
}

.submit-button:hover {
  background-color: #1c82f3;
}

@media screen and (max-width: 991px) {
  .a-letter {
    padding-left: 669px;
  }

  .z-letter {
    height: 50%;
    margin-bottom: 456px;
    margin-right: 529px;
  }

  .heading-wrapper {
    max-width: 100vw;
    bottom: 10%;
  }

  .image-wrapper-2 {
    width: 100%;
    height: 105vh;
    position: absolute;
    top: 0%;
    left: auto;
  }

  ._3-corporate-2 {
    top: 7%;
  }

  .gradient-wrapper {
    background-image: linear-gradient(rgba(43, 104, 122, 0) 41%, #12181c 77%);
    width: 100%;
    height: 140vh;
    display: none;
  }

  .center-icons {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 140vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .icon-bg-2.big {
    background-color: #374a5f;
  }

  ._4-online-2 {
    margin-right: 30px;
  }

  .hero-2 {
    height: 100vh;
    position: relative;
  }

  .mask-heading-2 {
    z-index: 2;
    max-width: 900px;
    padding-bottom: 1vw;
    top: 32%;
    left: 6%;
  }

  .mask-heading-2.up {
    width: 100vw;
    max-width: none;
    margin-right: 0;
    padding-bottom: 0;
    padding-left: 5vw;
  }

  .mask-heading-2.down {
    z-index: 2;
    width: 100vw;
    max-width: none;
    margin-left: 0;
    padding-bottom: 0;
    padding-right: 5vw;
    top: 36%;
    right: 6%;
  }

  .mobile-wrapper {
    z-index: 1;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    position: relative;
  }

  .icon-wrapper-2 {
    text-align: center;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: relative;
    top: 12%;
    bottom: auto;
    left: auto;
    right: 6%;
  }

  .icon-wrapper-2.top100 {
    position: relative;
    top: 12%;
    bottom: auto;
    left: 6%;
    right: auto;
  }

  .icon-wrapper-2.mic {
    position: relative;
    top: 28%;
    bottom: auto;
    left: -31%;
    right: auto;
  }

  .icon-wrapper-2.wedding {
    display: flex;
    position: relative;
    top: 28%;
    bottom: auto;
    left: auto;
    right: -27%;
  }

  .text-hero {
    color: #192229;
    text-align: center;
    max-width: 200px;
    font-size: 16px;
  }

  .hero-heading-2 {
    text-align: left;
    font-size: 70px;
  }

  .hero-heading-2.buttom {
    text-align: right;
    font-size: 70px;
    left: 7%;
  }

  .icons-wrapper {
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 890px;
    height: 140vh;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    position: absolute;
    top: 0;
    bottom: auto;
  }

  .line {
    background-color: #192229;
    border-radius: 20px;
    width: 32px;
    height: 4px;
    margin-bottom: 5px;
    padding-bottom: 0;
    padding-right: 0;
    position: relative;
  }

  .line-menu {
    display: none;
  }

  .logo-icon-menu {
    z-index: 0;
    height: 28px;
    position: static;
  }

  .navbar {
    z-index: 25;
    background-color: #f3f3f3;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 37px;
    display: block;
    position: fixed;
  }

  .menu-link {
    color: #192229;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
    display: flex;
  }

  .menu-link.w--current {
    color: #374a5f;
    text-align: center;
    display: flex;
  }

  .menu-button {
    z-index: 2;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
    position: static;
    top: 0%;
    right: 0%;
  }

  .menu-button.w--open {
    z-index: 100;
    color: #374a5f;
    background-color: rgba(0, 0, 0, 0);
  }

  .brand-menu {
    display: none;
  }

  .brand-menu.w--current {
    z-index: 100;
    margin-top: -10px;
    display: none;
  }

  .nav-menu {
    z-index: 26;
    color: #192229;
    text-align: center;
    background-color: #f3f3f3;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 20vh 0 0;
    font-size: 18px;
    display: block;
    position: absolute;
    top: 0;
  }

  .brand {
    color: #192229;
    margin-top: 15px;
    display: block;
    position: static;
  }

  .brand.w--current {
    z-index: 0;
    color: #192229;
    margin-top: 15px;
    margin-right: 0;
    display: block;
    position: static;
  }

  .brand.w--current:hover {
    color: #374a5f;
  }
}

@media screen and (max-width: 767px) {
  .a-letter {
    margin-top: 69px;
    padding-left: 880px;
  }

  .z-letter {
    margin-right: 446px;
  }

  .heading-wrapper {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    justify-content: flex-end;
    align-items: center;
    top: auto;
    bottom: 46%;
  }

  .image-wrapper-2 {
    height: 900px;
    left: auto;
  }

  .gradient-wrapper {
    opacity: 1;
    background-image: linear-gradient(rgba(43, 104, 122, 0) 28%, #12181c 61%);
    height: 100%;
    display: block;
  }

  ._1-home-2 {
    top: 4%;
  }

  .center-icons {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: auto;
    height: auto;
    display: flex;
  }

  .icon-bg-2, .icon-bg-2.big {
    width: 90px;
    min-width: 90px;
    height: 90px;
  }

  ._4-online-2 {
    margin-right: 25px;
  }

  .hero-2 {
    background-position: 0 0;
    background-size: auto;
    height: 1500px;
  }

  .mask-heading-2 {
    width: 100%;
    left: auto;
  }

  .mask-heading-2.up {
    padding-left: 0;
  }

  .mask-heading-2.down {
    padding-left: 0;
    padding-right: 0;
    right: auto;
  }

  .mobile-wrapper {
    height: 100%;
  }

  .icon-wrapper-2 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: left;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 90vw;
    height: auto;
    position: static;
  }

  .icon-wrapper-2.top100, .icon-wrapper-2.mic {
    height: auto;
    position: static;
  }

  .icon-wrapper-2.wedding {
    max-width: 70vw;
    height: auto;
    position: static;
  }

  .text-hero {
    color: #f3f3f3;
    text-align: left;
    font-size: 18px;
    line-height: 130%;
  }

  .hero-heading-2 {
    text-align: center;
    letter-spacing: 1vw;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 64px;
    line-height: 110%;
  }

  .hero-heading-2.buttom {
    text-align: center;
    margin-top: 0;
    font-size: 64px;
    left: 7%;
  }

  .icons-wrapper {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    height: 100%;
    padding-bottom: 15%;
    padding-left: 0%;
    padding-right: 0;
    top: auto;
    bottom: 3%;
  }

  .navbar {
    padding-left: 45px;
    padding-right: 35px;
  }
}

@media screen and (max-width: 479px) {
  .z-letter {
    display: none;
  }

  .heading-wrapper {
    bottom: 51%;
  }

  .image-wrapper-2 {
    height: 55%;
  }

  ._3-corporate-2 {
    top: 6%;
  }

  ._5-personal-2 {
    top: 5%;
  }

  .gradient-wrapper {
    background-image: linear-gradient(rgba(43, 104, 122, 0) 22%, #12181c 56%);
  }

  ._1-home-2 {
    top: 4%;
  }

  .div-block-21 {
    background-color: #f3f3f3;
    border-radius: 4px;
    width: 60%;
    padding-bottom: 4px;
    position: absolute;
    top: auto;
    bottom: 7%;
    left: auto;
    right: auto;
  }

  ._4-online-2 {
    margin-right: 25px;
    top: 6%;
  }

  .hero-2 {
    height: 180vh;
  }

  .mask-heading-2 {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    top: 540px;
  }

  .mask-heading-2.up {
    padding-top: 0;
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .mask-heading-2.down {
    padding: 0 6vw;
    top: 650px;
  }

  ._2-moder-2 {
    top: 4%;
  }

  .icon-wrapper-2.top100 {
    justify-content: flex-start;
    align-items: center;
  }

  .icon-wrapper-2.mic, .icon-wrapper-2.wedding {
    max-width: 80vw;
  }

  .text-hero {
    font-size: 18px;
    line-height: 130%;
  }

  .hero-heading-2 {
    text-align: center;
    letter-spacing: 2vw;
    margin-top: 0;
    font-size: 52px;
    line-height: 110%;
  }

  .hero-heading-2.buttom {
    text-align: center;
    letter-spacing: 2vw;
    margin-top: 0%;
    margin-bottom: 0;
    font-size: 52px;
    line-height: 110%;
  }

  .icons-wrapper {
    padding-bottom: 0%;
    padding-left: 0%;
    padding-right: 0;
    bottom: 7%;
  }

  .logo-icon-menu {
    width: 140px;
    height: auto;
  }

  .navbar {
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 1vw;
    display: block;
  }

  .menu-link {
    color: #747474;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    position: static;
  }

  .menu-button {
    position: absolute;
    top: 0%;
    right: 6%;
  }

  .menu-button.w--open {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0);
  }

  .brand-menu.w--current {
    margin-top: 20px;
  }

  .brand {
    flex: 0 auto;
    margin-top: 14px;
    margin-right: 0;
  }

  .brand.w--current {
    margin-top: 14px;
    position: static;
    top: 0%;
    bottom: auto;
    left: 7%;
    right: auto;
  }
}

#w-node-_7c8dd1cc-eef9-34fc-2889-66957eaed4e9-1b24a555 {
  grid-template-rows: auto auto;
  grid-template-columns: 2fr 1fr;
}
